.header {
  background-color: var(--primary-color);
  padding: 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      max-width: 9.375rem;
    }
  }

  .nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__burger {
      display: flex;
      flex-direction: column;
      gap: 0.3125rem;
      cursor: pointer;
      background: transparent;
      border: none;
      padding: 0.625rem;
    }
  
    &__burger-line {
      width: 1.875rem;
      height: 0.1875rem;
      background-color: #fff;
      border-radius: 0.3125rem;
    }

    &__list {
      list-style: none;
      display: flex;
      gap: 1.25rem;
      
      @include desktop {
        flex-direction: row;
      }
      
      display: none;
      flex-direction: column;
      gap: 0.625rem;
      width: 100%;
      background-color: var(--primary-color);
      position: absolute;
      top: 3.75rem;
      left: 0;
      padding: 1.25rem;
  
      &.active {
        display: flex;
      }
    }

    &__item {
      .nav__link {
        color: #fff;
        text-decoration: none;
        font-weight: bold;
        transition: color 0.3s;
  
        &:hover {
          color: var(--accent-color);
        }
      }
    }

    @include tablet {
      &__burger {
        display: flex;
      }

      &__list {
        display: none;
      }
    }
  }

  @include tablet {
    justify-content: space-between;
    .nav {
      align-items: center;
    }
  }

  @include desktop {
    justify-content: center;
    flex-direction: column;
    
    .nav {
      position: absolute;
      top: -3.75rem;
      flex-direction: row;
      gap: 2.5rem;
    }
    
    .header__logo {
      margin-bottom: 1.25rem;
    }
  }
}


.section {
  padding: 3.75rem 1.25rem;

  &__title {
    text-align: center;
    font-family: $heading-font-family;
    color: var(--accent-color);
  }

  &__text {
    text-align: center;
  }
}

.skills__list,
.technologies__list {
  list-style: none;
}

button {
  padding: 0.625rem 1.25rem;
  background-color: var(--accent-color);
  color: white;
  border: none;
  border-radius: 0.3125rem;
  cursor: pointer;
  transition: transform 0.3s;

  &:hover {
    transform: scale(1.1);
  }
}

.contact__form {
  display: flex;
  flex-direction: column;
  gap: 0.9375rem;
  max-width: 31.25rem;
  margin: 0 auto;

  .contact__input,
  .contact__textarea {
    padding: 0.625rem;
    border: 1px solid #ccc;
    border-radius: 0.3125rem;
  }
}

.footer {
  background-color: var(--primary-color);
  color: white;
  padding: 1.25rem;
  text-align: center;

  &__social-links {
    display: flex;
    justify-content: center;
    gap: 1.25rem;
  }

  .footer__social-link {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;

    &:hover {
      color: var(--accent-color);
    }
  }
}

@include tablet {
  .section {
    max-width: 900px;
    margin: 0 auto;
  }
}

@include desktop {
  .section {
    max-width: 1200px;
    margin: 0 auto;
  }
}
