$primary-color: #161023;
$primary-opacity: rgba(22, 16, 35, 0.4);
$secondary-color: #192f4d;
$text-color: #FFFFFF;
$title-color: #FFD700;
$subtitle-color: #E6A700;
$border-color: #B22222;


$font-family: 'Roboto', sans-serif;
$heading-font-family: 'Press Start 2P', cursive;