$primary-color: #191970;
$secondary-color: #2B4F81;
$text-color: #FFFFFF;
$title-color: #DAA520;
$border-color: #B22222;


$font-family: 'Roboto', sans-serif;
$heading-font-family: 'Press Start 2P', cursive;