@use '../var' as *;
@use '../mixins' as mixins;

.character-sheet__section.character-photo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

}

.character-photo__img {
  color: $text-color;
  width: 60%;
  height: auto;
  margin-bottom: 1rem;

  @include mixins.mobile {
    width: 45%;
  }

  @include mixins.desktop {
    width: 45%;
  }
}

.character-photo__caption {
  font-size: 1rem;
  color: $text-color;
}
