@use '../var' as *;
@use '../mixins' as mixins;

.character {

  &__img {
    width: 60%;
    height: auto;
    margin-bottom: 1rem;
  
    @include mixins.mobile {
      width: 42%;
    }
  
    @include mixins.desktop {
      width: 40%;
    }
  }
}
