@use '../var' as *;
@use '../mixins' as mixins;

.footer {
  background-color: $primary-color;
  color: $text-color;
  padding: 1.25rem;
  text-align: center;
  border-top: 2px solid $border-color;

  &__copyright {
    font-size: 1rem;
    font-weight: normal;
    margin-bottom: 1rem;
  }

  &__social-links {
    display: flex;
    justify-content: center;
    gap: 1.25rem;
    margin-top: 1rem;

    .footer__social-link {
      color: $text-color;
      text-decoration: none;
      font-weight: bold;
      font-size: 1.1rem;
      transition: color 0.3s;

      &:hover {
        color: $title-color;
      }
    }
  }
}

@include mixins.tablet {
  .footer {
    text-align: center;
  }
}
