@use '../var' as *;
@use '../mixins' as mixins;

.header {
  background-color: $primary-color;
  color: $text-color;
  padding: 1.25rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  top: 0;
  z-index: 1000;

  &.active {
    margin-bottom: 8rem;
  }

  &.fixed {
    position: sticky;
    top: 0;
  }

  @include mixins.tablet {
    flex-direction: column;
  }

  @include mixins.desktop {
    flex-direction: column;
  }

  @include mixins.mobile {
    position: sticky;
    top: 0;
  }

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      max-width: 9.375rem;
      margin-bottom: 0;

      @include mixins.tablet {
        margin-bottom: 2rem;
      }

      @include mixins.desktop {
        margin-bottom: 2rem;
      }
    }
  }

  .nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    &__burger {
      display: flex;
      flex-direction: column;
      gap: 0.3125rem;
      cursor: pointer;
      background: transparent;
      border: none;
      padding: 0.625rem;

      @include mixins.tablet {
        display: none;
      }
    }

    &__burger-line {
      width: 1.875rem;
      height: 0.1875rem;
      background-color: $text-color;
      border-radius: 0.3125rem;
    }

    &__list {
      list-style: none;
      display: flex;
      gap: 1.25rem;

      @include mixins.desktop {
        flex-direction: row;
      }

      display: none;
      flex-direction: column;
      gap: 0.625rem;
      width: 100%;
      background-color: $primary-color;
      position: absolute;
      top: 10rem;
      left: 0;
      padding: 1.25rem;

      &.active {
        display: flex;
      }
    }

    &__item {
      .nav__link {
        color: $text-color;
        text-decoration: none;
        font-weight: bold;
        transition: color 0.3s;

        &:hover {
          color: $title-color;
        }
      }
    }

    @include mixins.tablet {
      .nav__list {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
      }
    }

    @include mixins.desktop {
      .nav__list {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
      }
    }
  }
}
