@use '../var' as *;
@use '../mixins' as *;

.notices {

    &__container {
        padding: 0 1.5rem;
    }

    &__ttl {
        color: $title-color;
        font-size: 1.37rem;
        text-align: center;
    }

    &__sub-ttl {
        color: $subtitle-color;
        font-size: 1.37rem;
        margin: 2rem 0 1.25rem 0;
    }
    
    &__lst {
        margin-bottom: 0.75rem;
        color: $text-color;
    }

    &__txt {
        color: $text-color;
        padding-bottom: 1rem;
    }

}