.character-sheet__section.character-history {
    background-color: var(--bg-color);
    border: 1px solid var(--primary-color);
    border-radius: 0.625rem;
    padding: 1.25rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .character-sheet__title {
    font-family: $heading-font-family;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 1rem;
    color: var(--accent-color);
  }
  
  .character-sheet__text {
    text-align: center;
    margin-bottom: 1rem;
    line-height: 1.6;
  }
  
  .character-traits {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 0;
    justify-content: space-around;
  
    &__item {
      font-weight: bold;
      font-size: 1rem;
    }
  }