.skills-list,
.proficiencies-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0;
  justify-content: space-around;

  &__item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1rem;
  }

  &__icon {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: var(--bg-color);
    border: 2px solid var(--primary-color);

    &.acquired {
      background-color: var(--accent-color);
    }

    &.beginner {
      background-color: var(--highlight-color);
    }
  }
}
